.text-input {
    display: block;
    width: 100%;
    margin-bottom: 5px;
    background: none;
    border: none;
    transition: all 0.2s;
}

.text-input:hover {
    background-color: #dcdcdc;
}

.text-input:focus {
}

.item-details .btn-primary {
    margin-left: 10px;
}
