:root {
    --primary: #222;
    --text-color: #000;
    --block-backgroud: #e5e5e5;
    --link-color: #000;
}

.btn-primary {
    background-color: #1f1f1f;
}

.btn-primary:focus,
.btn-primary:hover {
    background-color: #3f3f3f;
}

.btn {
    border: none;
}

.page-link {
    color: var(--link-color);
    text-decoration: underline;
}

.btn-link {
    color: var(--link-color);
    transition: .2s;
}

.btn-link:hover {
    color: var(--link-color);
    transform: scale(1.2);
}

.btn-link:focus {
    box-shadow: none;
}

.mt-n5 {
    margin-top: -5px;
}

header {
    background: var(--primary);
}

header input[type="search"], header input[type="search"]:focus {
    background-color: #d9d9d9;
}

.logo img {
    width: 80%;
    margin: 1px 0;
}

.home-btn {
    display: none;
}

.top-nav {
    padding: 8px 0;
}

.top-nav form {
    width: initial;
}

.top-nav .buttons {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    flex-wrap: wrap;
}

.top-nav .buttons > * {
    margin-left: 10px;
    margin-bottom: 5px;
    margin-top: 5px;
}

.top-nav .badge{
    padding: 0;
    font-size: .9em;
    margin-left: 4px;
}

@media only screen and (max-width: 768px) {
    .logo {
        display: none;
    }

    .top-nav .buttons {
        text-align: center;
        margin-top: 10px;
        justify-content: center;
    }

    .home-btn {
        display: inline-block;
    }
}


.user-name {
    white-space: nowrap;
}

.user-name i {
    margin-right: 5px;
}

.banner {
    background-position: center;
    background-size: cover;
    height: 33vh;
    min-height: 240px;
    margin-bottom: 20px;
}

@media only screen and (max-width: 768px) {
    .banner {
        height: 17vh;
        min-height: initial;
    }
}

aside {
    position: sticky;
}

aside .btn {
    margin-top: 15px;
    width: 100%;
}

aside .btn:hover {
    font-weight: normal;
}

aside nav ul {
    list-style: none;
    padding-left: 0;
}

aside nav a {
    text-decoration: none;
    color: var(--text-color);
}

aside nav a:hover {
    font-weight: bold;
    color: var(--text-color);
}

aside nav {
    padding: 25px 35px;
    background: var(--block-backgroud);
    margin-right: 10px;
}

.navbar-title {
    display: inline-block;
    margin: 0;
}

@media only screen and (min-width: 992px) {
    nav .navbar-title, .desktop-hide {
        display: none;
    }
}

@media only screen and (max-width: 992px) {
    .mobile-hide {
        display: none;
    }
}

@media only screen and (max-width: 992px) {
    aside nav {
        margin-bottom: 25px;
        padding: 15px 15px;
        margin-right: 0;
    }

    aside nav .btn {
        float: right;
        width: initial;
        margin: 0;
    }

    .navbar-collapse {
        margin: 20px;
    }
}

@media only screen and (max-width: 420px) {
    nav .navbar-title {
        display: none;
    }

    nav .btn {
        position: relative;
        top: -2px;
    }
}

.block {
    background: var(--block-backgroud);
    margin-bottom: 25px;
    padding: 20px
}

.block h2 {
    text-align: center;
    color: #222222;
    margin-bottom: 15px;
    padding-bottom: 15px;
    border-bottom: 1px solid #b6b6b6;
    font-size: 2em;
    font-weight: bold;
}

.book-item {
    margin: 15px 0;
    transition: .2s;
    color: var(--text-color);
    text-decoration: none;
    display: block;
}

@media only screen and (max-width: 992px) {
    .books-list .book-item {
        font-size: .9em;
        text-align: center;
        margin-bottom: 20px;
        width: 49%;
        display: inline-block;
    }

    /* ano toto by sa dalo robit lepsie, ale musel by sa menit kazdy jeden element.. Ked bude stranka dynamicka, tak to zoptimalizujeme*/
    .books-list .book-item .image {
        width: 80%;
        margin-left: 10%;
        height: 190px;
    }

    .books-list .item-details {
        width: 100%;
    }

    .books-list .book-item .book-description {
        display: none;
    }
}

@media only screen and (max-width: 576px) {
    .books-list .book-item {
        width: 100%;
    }
}

.book-item:hover {
    color: var(--text-color);
}

.books-list .book-item:hover {
    transform: scale(1.02);
}

.book-item .book-title {
    font-size: 1.8em;
    font-weight: bold;
    font-style: normal;
}

.book-item .image {
    background-size: cover;
    background-position: center;
}

.book-item .cover-image {
    max-height: 80px;
    width: auto;
    display: inline-block;
}

.book-item .item-details {
    padding-left: 20px;
    margin-bottom: 5px;
}

.basket-actions {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    min-height: 80px;
}

.basket-item {
    display: flex;
}

.basket-actions .book-title {
    justify-self: flex-start;
    margin-right: auto;
    margin-left: 0;
    display: inline-block;
}

.basket-actions .book-title:hover {
    color: black;
    text-decoration: underline;
}

.basket-actions form {
    display: flex;
    position: relative;
    align-items: center;
}

.basket-actions form input[type='number'] {
    padding: 6px 0 6px 10px;
    position: relative;
    width: 45px;
    margin-right: 2px;
}

.basket-actions form input[type='number']:after {
    content: "ks";
    position: absolute;
    top: 2px;
    right: .5em;
    height: 100px;
    width: 100px;
    background-color: red;
}

.basket-actions .remove-item {
    font-size: 1.7em;
    color: #3f3f3f;
    transition: .2s;
}

.basket-actions .remove-item:hover {
    color: #000000;
}

.basket-actions .fa-sync-alt {
    transition: 1s;
    margin-left: 10px;
}

.basket-actions .fa-sync-alt:hover {
    transform: rotate(360deg);
}

.basket-actions > * {
    margin-left: 20px;
}

.total-price {
    font-size: 1.2em;
    float: right;
    margin-top: 10px;
}

.basket-remove-all {
    float: left;
    margin-top: 10px;
}

.book-item .book-description {
    margin-top: 4px;
    margin-bottom: 0;
}

.book-item .book-price {
    font-size: 1.6em;
    font-weight: bold;
}

aside nav .category {
    font-weight: bold;
    font-size: 1.1em;
    margin-bottom: 3px;
}

aside nav .category:not(:first-child) {
    margin-top: 15px;
}

aside nav .sub-category {
    padding-left: 20px;
}

.information {
    text-align: center;
    font-size: 1.1em;
    color: #333333;
    padding: 40px 0;
}

footer {
    margin-top: 20px;
    padding: 30px 0;
    background: #222;
    color: white;
}

footer .footer-title{
    font-weight: bold;
    font-size: 1.4em;
}

footer ul {
    padding-left: 0;
    list-style: none;
    font-size: 1.1em;
}

footer li {
    display: inline-block;
}

footer a {
    color: #d2d2d2;
    text-decoration: none;
    transition: .2s;
}

footer p {
    margin-bottom: 0;
}

footer a:hover {
    color: #d2d2d2;
    text-decoration: underline;
}

footer .footer-nav {
    margin-top: 10px;
}

footer .footer-nav li {
    margin-right: 15px;
    padding-right: 15px;
    display: block;
}

@media only screen and (min-width: 992px) {
    footer .footer-nav li {
        display: inline-block;
    }

    footer .footer-nav li:not(:last-child) {
        border-right: 1px solid #d2d2d2;
    }
}

footer .footer-socials li {
    font-size: 1.8em;
    margin: 5px 15px 5px 0;
}

footer .footer-socials li:hover a {
    color: #8f8f8f
}

.copyright {
    margin-top: 30px;
    color: #8f8f8f;
}

/* FORMS */
section form {
    display: inline-block;
    width: 450px;
    max-width: 100%;
    text-align: left;
    font-size: 1.2em;
}

section form label, .form .form-label {
    font-size: .9em;
    font-weight: bold;
    margin-left: 2px;
    background-color: transparent;
    padding: 0;
    margin-bottom: 5px;
}

section form input {
    margin-bottom: 12px;
}

.form-half-width {
    max-width: 50%;
}

.form-small-link {
    text-align: right;
    display: block;
    text-decoration: underline;
    color: #9b9b9b;
    font-size: .8em;
}

/* MODAL */
.modal-header {
    border: none;
    padding-bottom: 0;
}

.modal-footer {
    border: none;
    padding-top: 0;
}

/* PAGINATION */
.pagination .page-link {
    text-decoration: none;
}

.pagination .page-item.active a {
    background-color: #222222;
    border-color: #222222;
}

/* FORM END */
.category-selected {
    margin-bottom: 15px;
    padding-bottom: 15px;
    border-bottom: 1px solid #b6b6b6;
}

.category-selected h2 {
    text-align: left;
    margin-bottom: 0;
    padding-bottom: 0;
    border-bottom: 0 solid #b6b6b6;
}

.quantity-selection {
    max-height: 5vh;
}

.logo-small {
    max-height: 80px;
}

.user-name {
    color: white;
}
