.preview-book .row {
    min-height: 420px
}

.preview-book {
    margin-top: 0;
    margin-bottom: 35px;
}

.preview-book .item-details {
    margin: 10px 0;
}

.preview-book .book-price {
    text-align: right;
    font-size: 2.1em;
    margin: 20px 0;

}

.preview-book .btn {
    float: right;
}
