:root {
    --primary: #222;
}

nav {
    background: var(--primary);
    padding: 8px 0;
}

header {
    background: #444;
}

.banner {
    background-position: center;
    background-size: cover;
    height: 40vh;
    min-height: 240px;
}
