:root {
    --primary: #222;
    --text-color: #000;
    --block-backgroud: #e5e5e5;
    --link-color: #000;
}

.btn-primary {
    background-color: #1f1f1f;
}

.btn-primary:focus,
.btn-primary:hover {
    background-color: #3f3f3f;
}

.btn {
    border: none;
}

.page-link {
    color: var(--link-color);
    text-decoration: underline;
}

.btn-link {
    color: var(--link-color);
    transition: .2s;
}

.btn-link:hover {
    color: var(--link-color);
    transform: scale(1.2);
}

.btn-link:focus {
    box-shadow: none;
}

header {
    background: var(--primary);
}

header input[type="search"], header input[type="search"]:focus {
    background-color: #d9d9d9;
}

.top-nav {
    padding: 8px 0;
}

.banner {
    background-position: center;
    background-size: cover;
    height: 33vh;
    min-height: 240px;
    margin-bottom: 20px;
}

nav {
    padding: 25px 35px;
    background: var(--block-backgroud);
    margin-right: 10px;
}

aside {
    position: sticky;
}

aside .btn {
    margin-top: 15px;
    width: 100%;
}

aside .btn:hover {
    font-weight: normal;
}

aside nav ul {
    list-style: none;
    padding-left: 0;
}

aside nav a {
    text-decoration: none;
    color: var(--text-color);
}

aside nav a:hover {
    font-weight: bold;
    color: var(--text-color);
}

.block {
    background: var(--block-backgroud);
    margin-bottom: 25px;
    padding: 20px
}

.block h2 {
    text-align: center;
    color: #222222;
    margin-bottom: 15px;
    padding-bottom: 15px;
    border-bottom: 1px solid #b6b6b6;
}

.book-item {
    margin: 15px 0;
    transition: .2s;
    color: var(--text-color);
    text-decoration: none;
    display: block;
}

.book-item:hover {
    transform: scale(1.02);
    color: var(--text-color);

}

.book-item .book-title {
    font-size: 1.8em;
    font-weight: bold;
    font-style: normal;
}

.book-item .image {
    background-size: cover;
    background-position: center;
}

.book-item .item-details {
    padding-left: 20px;
    margin-bottom: 5px;
}

.book-item .book-description {
    margin-top: 4px;
    margin-bottom: 0;
}

.book-item .book-price {
    font-size: 1.6em;
    font-weight: bold;
}

aside nav .category {
    font-weight: bold;
    font-size: 1.1em;
    margin-bottom: 3px;
}

aside nav .category:not(:first-child) {
    margin-top: 15px;
}

aside nav .sub-category {
    padding-left: 20px;
}

footer {
    margin-top: 20px;
    padding: 30px 0;
    background: #222;
    color: white;
}

footer ul {
    padding-left: 0;
    list-style: none;
    font-size: 1.1em;
}

footer li {
    display: inline-block;
}

footer a {
    color: #d2d2d2;
    text-decoration: none;
    transition: .2s;
}

footer p {
    margin-bottom: 0;
}

footer a:hover {
    color: #d2d2d2;
    text-decoration: underline;
}

footer .footer-nav {
    margin-top: 10px;
}

footer .footer-nav li {
    margin-right: 15px;
    padding-right: 15px;
}

footer .footer-nav li:not(:last-child) {
    border-right: 1px solid #d2d2d2;
}

footer .footer-socials li {
    font-size: 1.8em;
    margin: 5px 15px 5px 0;
}

footer .footer-socials li:hover a {
    color: #8f8f8f
}

/* FORMS */
form {
    display: inline-block;
    width: 450px;
    text-align: left;
    font-size: 1.2em;
}

form label, form input {
}

form label {
    font-size: .9em;
    font-weight: bold;
    margin-left: 2px;
}

form input {
    margin-bottom: 12px;
}

.form-half-width {
    max-width: 50%;
}

.form-small-link {
    text-align: right;
    display: block;
    text-decoration: underline;
    color: #9b9b9b;
    font-size: .8em;
}

/* MODAL */
.modal-header {
    border: none;
    padding-bottom: 0;
}

.modal-footer {
    border: none;
    padding-top: 0;
}

/* PAGINATION */
.pagination .page-link {
    text-decoration: none;
}

.pagination .page-link:hover {
    color: var(--link-color);
}

/* FORM END */
.category-selected {
    margin-bottom: 15px;
    padding-bottom: 15px;
    border-bottom: 1px solid #b6b6b6;
}

.category-selected h2 {
    margin-bottom: 0px;
    padding-bottom: 0px;
    border-bottom: 0px solid #b6b6b6;
}

.quantity-selection {
    max-height: 5vh;
}
